.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

build/

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

android/.gradle/
android/local.properties

*.log
*.lock